<div class="maincontent"
    data-ng-controller="TourCtrl">
  <div class="page">
    <div class="data-table">
      <div class="title"><span class="shadow"></span>
        <ul>
          <li class="table1">
            <h6>Date</h6>
          </li>
          <li class="table1">
            <h6>City</h6>
          </li>
          <li class="table1">
            <h6>Count</h6>
          </li>
          <li class="table1">
          <h6><div>Today's</div>
              <div>Change</div></h6>
          </li>
        </ul>
        <div style="position:absolute;top:15px;color:#555;width:100%;text-align:center;height:20px;">
            <span>Tickets on sale for less than 1 day</span>
        </div>
        <span class="clear"></span> </div>
      <div class="info">
        <ul>
            <li data-ng-class="{color: $index % 2}"
            data-ng-repeat="listing in viewState.listings track by $index"
            data-ng-click="listing.showPercentages = !listing.showPercentages">
            <ul>
              <li class="table1">
              <h6>
                  <div>{{ listing.day }}</div>
                  <div>{{listing.month}}</div>
                  <div>{{listing.year}}</div>
              </h6>
                <!-- h6>16 Apr, 2015</h6 -->
              </li>
              <li class="table1">
              <h6><div style="word-break: normal">{{listing.city}}</div> <div>{{listing.state}}</div></h6>
              </li>
              <li class="table1">
              <h6 data-ng-if="!listing.showPercentages">
                  <div>{{listing.countNumerator}} / {{listing.countDenominator}}</div><div style="word-break: normal;padding-top:5px;">Gross {{listing.gross}}</div>
              </h6>
              <h6 data-ng-if="listing.showPercentages">
                  <div>{{listing.countNumerator / listing.countDenominator * 100 | round}}%</div><div style="word-break: normal;padding-top:5px;">Gross {{listing.gross}}</div>
              </h6>
              </li>
              <li data-ng-if="listing.changeFinal" class="table1">
                <h6>Final</h6>
              </li>
              <li data-ng-if="!listing.changeFinal" class="table1">
                <h6 data-ng-if="!listing.showPercentages"><span class="arrow">{{listing.change}}</span></h6>
                <h6 data-ng-if="listing.showPercentages"><span class="arrow">{{listing.changePercent}}%</span></h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <!-- li>
            <ul>
              <li class="table1">
                <h6><div>12</div> <div>Apr</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal">Provo</div> <div>UT</div></h6>
              </li>
              <li class="table1">
              <h6><div>500 / 500</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6><span class="arrow">56</span></h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <li class="color">
            <ul>
              <li class="table1">
                <h6><div>8</div> <div>Apr</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal;">New York</div> <div>NY</div></h6>
              </li>
              <li class="table1">
                <h6><div>240 / 1,050</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6><span class="arrow">32</span></h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <li>
            <ul>
              <li class="table1">
                <h6><div>4</div> <div>Apr</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal;">Los Angeles</div> <div>CA</div></h6>
              </li>
              <li class="table1">
                <h6><div>245 / 300</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6><span class="arrow">25</span></h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <li class="color">
            <ul>
              <li class="table1">
                <h6><div>30</div> <div>Mar</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal;">Irvine</div> <div>CA</div></h6>
              </li>
              <li class="table1">
                <h6><div>240 / 1,050</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6><span class="arrow">20</span></h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <li>
            <ul>
              <li class="table1">
                <h6><div>18</div> <div>Mar</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal;">Denver</div> <div>CO</div></h6>
              </li>
              <li class="table1">
                <h6><div>1400 / 1450</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6>Final</h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <li class="color">
            <ul>
              <li class="table1">
                <h6><div>3</div> <div>Mar</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal;">Irvine</div> <div>CA</div></h6>
              </li>
              <li class="table1">
                <h6><div>1200 / 1250</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6>Final</h6>
              </li>
            </ul>
            <span class="clear"></span> </li>
          <li>
            <ul>
              <li class="table1">
                <h6><div>1</div> <div>Mar</div> <div>2015</div></h6>
              </li>
              <li class="table1">
                <h6><div style="word-break: normal;">Los Angeles</div> <div>CA</div></h6>
              </li>
              <li class="table1">
                <h6><div>800 / 800</div><div style="word-break: normal;padding-top:5px;">Gross $300</div></h6>
              </li>
              <li class="table1">
                <h6>Final</h6>
              </li>
            </ul>
            <span class="clear"></span> </li -->
        </ul>
      </div>
    </div>
  </div>
</div>

